<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/sampleblog.css">
    <title>Document</title>
</head>
<body>
    <div id = "horizontal">
        <ul>
            <li class="hr"><h3><a href="/">Home</a></h3></li>
            <li class="hr"><h3><a href="/attractions">Attractions</a></h3></li>
            <li class="hr"><h3><a href="/blog" class="active">Blogs</a></h3></li>
        </ul>
    </div>
    
    <ul id="vertical">
        <li class="list"><a href="#home">Home</a></li>
        <li class="list"><a href="#news">News</a></li>
        <li class="list"><a href="#contact">Contact</a></li>
        <li class="list"><a href="#about">About</a></li>
    </ul>
    
    <div class="container">
        <div class="heading"><h3><%= data.blogpage[0].heading %></h3></div>
        <div class="para_blog"><p><%= data.blogpage[0].para1 %></p></div>
        <div class="image_blog" ><img class="blog_img" src= <%= data.blogpage[0].imglocation %>></div>
        <div class="para_blog"><p><%= data.blogpage[0].para2 %></p></div>
        <div class="image_blog" ><img class="blog_img" src = "images/blog2.jpg"></div>
        <br>
        <br>
        <div class="input_blog">
            <form action="#" method="POST">
                <textarea type="text" id="comment" name= "comment" placeholder="Enter your comment..."></textarea>
                <input type="text" id="name" name="name" placeholder="Enter Name...">
                <input type="submit" value="Publish">
            </form>
        </div>
        <div class="show_comments">
                <% for(let i=0; i < data.comments.length; i++) {%>
                    <p class="owner"><%= data.comments[i].name %></p>
                    <div class="commt"></h4><%= data.comments[i].comment %></div>
                <% } %>
        </div>
    </div>
</body>
</html>